  <div class="form-group">
    <%= f.radio_button :status, 'submitted' %>
    <%= f.label :status, 'Submitted', class: 'form-check-label' %>
    <%= f.radio_button :status, 'approved' %>
    <%= f.label :status, 'Approved', class: 'form-check-label' %>
    <%= f.radio_button :status, 'rejected' %>
    <%= f.label :status, 'Rejected', class: 'form-check-label' %>
  </div>
